
@font-face {
    font-family: "Vampiro" ;
    src: url(vampire_wars/Vampire\ Wars.ttf);
    
}



#Tony {

    font-family: "Vampiro";
    
}


#p1 {

    color: white;

}




* {

    
   box-sizing: border-box;

}

body {
      background-color: rgb(134, 9, 9);
      
      

}
